ion-input, .datetime{
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.05);
    border-radius: 16px !important;
    padding-left: 10px !important;
}
#input-list{
    padding: 10px;        
}

.datetime ion-datetime{
    box-shadow: none;
}

.input-color{      
    width: 80%;  
    margin: auto;
    margin-bottom: 20px;
    display: block;
    height: 40px;
    padding: 10px;
    border: none;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.05);
    border-radius: 16px;
    background-color: white;
}

.color-gray{
    color: rgba(0,0,0,.4)
}
.progress{
    position: fixed;
    bottom: 0;
    left: 0;        
    height: 5px;
    width: 0;
    background-color: var(--ion-color-secondary);
    
    .progress-shadow{
        height: 5px;
        width: 5px;
        position: absolute;
        right: 10px;
        top: 10px;
        box-shadow: 0 0 50px 7px var(--ion-color-secondary);
        transition: width .3s;
    }
}

ion-slides{
    height: 100%;

    ion-slide{
        height: 100%;
        display: block;
    }
}