<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>Historial</ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="upload()" *ngIf="forms.length > 0">
        SUBIR
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <p *ngIf="forms.length == 0 && uploadedForms.length == 0" class="instructions">No has terminado ningun formulario.</p>
  <ion-item-group *ngIf="forms.length > 0">
    <ion-item-divider color="light">POR SUBIR</ion-item-divider>
    <ion-item no-lines *ngFor="let item of forms" (click)="pushPage(item.FINISHED_DATE)">
      {{item.FORM_NAME}}
      <p item-end>{{item.FINISHED_DATE}}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="uploadedForms.length > 0">
    <ion-item-divider color="light">SUBIDOS</ion-item-divider>
    <ion-item no-lines *ngFor="let uform of uploadedforms">{{uform.FORM_NAME}}</ion-item>
  </ion-item-group>
</ion-content>
