page-home {
    .forms-list{
        border-radius: 16px !important;
        margin-bottom: 15px !important;
        box-shadow: 0 1px 15px 1px rgba(0,0,0,.05);
        transition: transform .2s, opacity .2s, background-color .2s;
    }
    .forms-list:hover{
        background-color: rgb(240, 240, 240);
    }
    ion-list{
        padding: 10px;
    }
    .instructions{
        text-align: center;
    }
}
