// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf")
}


:root {
  /** primary **/
  --ion-color-primary: #FF9800;
  --ion-color-primary-rgb: 72,138,255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #FF9800;
  --ion-color-primary-tint: #FF9800;

  /** secondary **/
  --ion-color-secondary: #347DFE;
  --ion-color-secondary-rgb: 50,219,100;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #347DFE;
  --ion-color-secondary-tint: #347DFE;

  /** tertiary **/
  --ion-color-tertiary: #f4a942;
  --ion-color-tertiary-rgb: 244,169,66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  
  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;


  
  // App Theme
  // --------------------------------------------------
  --ion-background-color: #F7F8FA;
  --ion-toolbar-background-color: #F7F8FA;
  --ion-font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;

  //$font-family-ios-base: "Poppins", sans-serif;
  --ion-box-shadow-color: none;

  .alert-button{
    transition: background-color .2s !important;
  }

  .alert-button:hover{
    background-color: #DBDBDC !important;
  }

}

.instructions{
  text-align: center;
}

//Card Theme
$card-md-background-color: white;
$card-md-border-radius: 8px;
$card-md-box-shadow-color: rgba(0, 0, 0, .07);
$card-md-box-shadow: 0 8px 30px 1px $card-md-box-shadow-color;

//Button Theme
$button-md-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
$button-md-box-shadow-activated: 0 0 15px 1px rgba(255, 152, 0, .8);
$button-md-border-radius: 16px;
$button-md-padding: 21px;