$font-path: "../assets/fonts";
$app-direction: ltr;

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf")
}

@import "ionic.globals";

$colors: (
  primary:    #FF9800,
  secondary:  #347DFE,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #272727,
  trans-light: rgba(255,255,255,.1),
  trans-dark: rgba(0,0,0,.5),
  trans-secondary: rgba(52, 126, 254, 0.85)
);


// App Theme
// --------------------------------------------------
$background-color: #F7F8FA;
$toolbar-background: $background-color;
$font-family-md-base: "Poppins", sans-serif;
//$font-family-ios-base: "Poppins", sans-serif;
$menu-md-box-shadow: none;

.instructions{
  text-align: center;
}

//Card Theme
$card-md-background-color: white;
$card-md-border-radius: 8px;
$card-md-box-shadow-color: rgba(0, 0, 0, .07);
$card-md-box-shadow: 0 8px 30px 1px $card-md-box-shadow-color;

//Button Theme
$button-md-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
$button-md-box-shadow-activated: 0 0 15px 1px rgba(255, 152, 0, .8);
$button-md-border-radius: 16px;
$button-md-padding: 21px;

@import "ionic.theme.default";

@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
