<ion-app>
  <ion-split-pane>
    <ion-menu persistent="false" type="push" swipeGesture="false">
      <ion-header no-border>
        <ion-toolbar color="primary">
          <ion-title>Llenados</ion-title>
        </ion-toolbar>
      </ion-header>

      
      <ion-content class="sidemenu" padding>
        <p *ngIf="forms.length == 0" class="instructions">No hay formularios por subir.</p>
        <ion-button expand="block" *ngIf="forms.length > 0" color="secondary" (click)="upload()">
          <ion-icon name="cloud-upload" item-start></ion-icon>&nbsp;
          SUBIR FORMULARIOS
        </ion-button>
        <ion-item-group>
          <ion-item lines="none" *ngFor="let item of forms">
            <strong>{{item.FORM_NAME}}</strong>
            <p slot="end" style="color: black;">{{item.FINISHED_DATE}}</p>
          </ion-item> 
        </ion-item-group>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
