// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sidemenu{
    background-color: #FF9800 !important;

    ion-item-group{
        box-shadow: 0 1px 5px 1px rgba(0,0,0,.05) !important;
        border-radius: 15px;
        background-color: map-get($colors, trans-light);
        ion-item-divider{
            background-color: transparent !important;
            font-weight: bold !important;
        }
        button{
            background-color: transparent !important;
        }        
    }

    ion-list{
        margin-bottom: 20px;
        ion-item{
            box-shadow: 0 1px 5px 1px rgba(0,0,0,.05) !important;
            border-radius: 15px;
            transition: box-shadow .2s;
        }
        ion-item:hover{
            box-shadow: 0 3px 15px 1px rgba(0,0,0,.2) !important;
        }
    }

}