<ion-menu persistent="false" side="top" type="push" [content]="content">
  <ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title><strong>Llenados</strong></ion-title>
      <ion-buttons start>
        <button ion-button icon-only menuClose (click)="openPage()">
            <ion-icon name="time" color="light" item-start></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="sidemenu" padding>
    <p *ngIf="forms.length == 0" class="instructions">No hay formularios por subir.</p>
    <ion-list no-lines>
      <ion-item *ngIf="forms.length > 0" color="secondary" (click)="upload()">
        <ion-icon name="cloud-upload" item-start></ion-icon>
        SUBIR FORMULARIOS
      </ion-item>
    </ion-list>
    <ion-item-group no-lines>      
      <button no-lines *ngFor="let item of forms" ion-item>
        <strong>{{item.FORM_NAME}}</strong>
        <p item-end style="color: black;">{{item.FINISHED_DATE}}</p>
      </button>      
    </ion-item-group>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>